form {
  margin-top: 3rem;
}

form input[name="place"] {
  background-color: transparent;
  color: white;
  border: 0;
  border-bottom: 2px solid whitesmoke;
  border-radius: 0;
}

form input[name="place"]:focus {
  background-color: transparent;
  box-shadow: none;
  color: white;
}

form input,
select,
textarea {
  color: white;
}
