* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url("./images/night-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bigger {
  font-size: 140px;
}

.body.day {
  background-image: url("./images/day-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.body.neutral {
  background-image: url("./images/neutral-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.body.night {
  background-image: url("./images/night-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
